.guessWrap {
  position: relative;

  /* creates square */
  height: 0;
  padding: calc(100% - 4px) 0 0 0;

  border-radius: 5px;
  outline: none;

  border: 2px solid var(--secondary-color);
}

.guess {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  color: var(--secondary-color);

  font-size: 1.25rem;
}

.success {
  background: var(--green);
}

.failure {
  background: red;
}

.rowHighlight {
  border: 2px solid var(--accent-color);
}
