.container {
  width: 100vw;
  background: var(--primary-color);
}

.app {
  width: 100%;
  max-width: 540px;
  min-height: 100vh;
  background: var(--primary-color);
  padding: 1rem;
  margin: auto;
}
