:root {
  --white: #fff;
  --black: #4c4c4c;
  --primary-color: var(--white);
  --secondary-color: var(--black);
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  background-color: inherit;
}

.dark {
  --primary-color: var(--black);
  --secondary-color: #e3e3e3;
}

body {
  height: 100vh;
}
