.nav {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
}

.resetStats {
  color: var(--secondary-color);
  background: var(--primary-color);
  border-radius: 5px;
  border: 2px solid var(--secondary-color);
  outline: none;

  font-size: 1.15rem;
  font-weight: 200;
}

.fa-moon,
.fa-sun {
  color: var(--secondary-color);
  cursor: pointer;
}

/* makes hover state only work on desktop */
@media not all and (pointer: coarse) {
  .resetStats:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
  }
}
